html{
    text-align: center;
    font-family: sans-serif;
}
h2,p{
    margin: 0
}

header{
    padding-bottom:1rem;
}
header .header-info{
    color: #333333;
    font-size: 0.9rem;
}
.u-logo{
    display: inline-flex;
    width: 5rem;
    height: 5rem;
}
.u-logo img{
    width: 100%;
    margin: auto
}
.u-link{
    max-width: 60rem;
    margin: auto;
}

.u-link a{
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    font-weight: 600;
}

.container{
    max-width: 60rem;
    margin: auto;
    padding: 0.5rem 0;
}
.container .u-card{
    display: inline-block;
    width: 18rem;
    height: 10rem;
    padding: 1rem;
    border: 1px solid #acacac;
    box-shadow: #acacac 2px 2px 2px;
    margin-top:1rem;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.container .u-card h3{
    text-align: left;
    padding-left: 1rem;
}
.container .u-card:hover{
    border:1px solid cornflowerblue;
    box-shadow: cornflowerblue 2px 2px 2px;
    color: cornflowerblue;
}
.container .u-card img{
    display: block;
    width: 100%;
    height: 5rem;
}
.container .u-card .u-card-plane{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 2rem;
    height: 3rem;
    line-height: 3rem;
    text-align: right;
    color: #333333;
    font-size: 0.9rem;
}
.u-pagition{
    padding: 1rem;
}

footer{
    max-width: 60rem;
    margin: auto;
    border-top:1px #818181 dotted;
    font-size: 0;
}
footer a{
    text-decoration: none;
}
footer > div{
    display: inline-block;
    width: 50%;
    padding: 1rem 0;
    font: 0.8rem serif;
}

.u-page{
    text-align: left;
    border: 1px solid #a8a8a8;
    box-shadow: #a8a8a8 3px 3px 3px;
    padding: 0 1rem;
    min-height: 40rem;
    word-break: break-all;
}
.u-page p {
    margin: 0.5rem 0;
}
.u-page img {
    max-width: 100%;
    height: auto;
}
.u-tag{
    text-align: left;
    padding: 0.5rem 4em;
}
.m-reply{
    text-align: left;
    font-size: 1rem;
}
.m-reply .u-reply{
    color: #333333;
    padding: 1rem;
}
.m-reply .u-reply + .u-reply{
    color: #333333;
    padding: 1rem;
    border-top: 1px grey dotted;
}
.m-reply .u-reply .form{
    display: inline-block;
    width: 10rem;
    overflow: hidden;
    vertical-align: bottom;
}
.m-reply .u-reply p{
    padding:1rem;
}
.m-reply .u-reply .time{
    display: inline-block;
    font-size: 0.8rem;
    color: #999999;
    vertical-align: bottom;
}
.o-reply textarea{
    width:20rem;
    height:3rem;
    padding:1rem;
}
.inline-left{
    text-align: left;
    padding: 0.5rem;
}
blockquote {
    background: #eee;
    font-size: 1rem;
    padding: 0.5rem;
    color: #333;
}
.u-append textarea{
    width:20rem;
    height:3rem;
    padding:1rem;
}
/**
 common
 */
.u-button{
    padding: 5px;
    min-width: 100px;
    border: 0;
    box-shadow: grey 1px 1px 1px;
    cursor: pointer;
}
input[type="text"] {
    height: 24px;
    font-size: 1.1rem;
    padding: 0 0.5rem;
}